# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/JavaScript-Study.iml
/magento2plugin.xml
/modules.xml
/vcs.xml
